<div fxFlex="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div *ngIf="currentUser !== null">
    {{currentUser.userName}}
  </div>

  <nav class="navbar navbar-expand ml-auto">
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <button mat-raised-button [mat-menu-trigger-for]="menu">{{ userName }}</button>
        <mat-menu #menu>
          <button mat-menu-item (click)="openProfile()">Thông tin cá nhân</button>
          <button mat-menu-item (click)="changePassword()">Đổi mật khẩu</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <a mat-raised-button href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</div>
