<button class="close" mat-button color="warn" mat-dialog-close>&times;</button>
<h2 mat-dialog-title align="center">Cập nhật mật khẩu</h2>
<hr />
<mat-dialog-content>
  <form [formGroup]="passwordForm" *ngIf="passwordForm" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <br />

    <mat-label>Mật khẩu hiện tại:</mat-label>
    <mat-form-field appearance="outline">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nhập mật khẩu hiện tại"
        formControlName="currentPassword" name="currentPassword" id="currentPassword" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="
          controls.currentPassword.touched && controls.currentPassword.errors
        ">
        <span *ngIf="controls.currentPassword.errors.required">Chưa nhập mật khẩu hiện tại</span>
      </mat-error>
    </mat-form-field>

    <mat-label>Mật khẩu mới:</mat-label>
    <mat-form-field appearance="outline">
      <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Nhập mật khẩu mới" formControlName="newPassword"
        name="newPassword" id="newPassword" #newPassword />
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1">
        <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="controls.newPassword.touched && controls.newPassword.invalid">
        <span *ngIf="controls.newPassword.errors.required">Chưa nhập mật khẩu mới.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Nhập lại mật khẩu mới"
        formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" pattern={{newPassword.value}} />
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="
          controls.confirmPassword.touched && controls.confirmPassword.invalid
        ">
        <span *ngIf="controls.confirmPassword.errors.required">Chứa nhập lại mật khẩu mới.</span>
        <span *ngIf="controls.confirmPassword.errors.pattern">Không trùng mật khẩu mới</span>
      </mat-error>
      <!-- <mat-error *ngIf="confirmPassword.hasError(pattern)">

      </mat-error> -->
    </mat-form-field>
  </form>
  <!-- </div> -->
</mat-dialog-content>
<hr />
<mat-dialog-actions align="center">
  <button mat-stroked-button [disabled]="passwordForm.invalid" (click)="onSubmit()" [mat-dialog-close]="
    passwordForm.value">Cập nhật</button>
</mat-dialog-actions>
