<button class="close" mat-button color="warn" mat-dialog-close>&times;</button>
<h2 mat-dialog-title align="center">Cập nhật mật khẩu</h2>
<hr />
<mat-dialog-content>
  <form [formGroup]="passwordForm" *ngIf="passwordForm" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <br />


    <mat-form-field appearance="outline">
      <mat-label>Mật khẩu hiện tại:</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nhập mật khẩu hiện tại"
        formControlName="currentPassword" id="currentPassword" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="hasError('currentPassword', 'required')">Chưa nhập mật khẩu hiện tại</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Mật khẩu mới:</mat-label>
      <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Nhập mật khẩu mới" formControlName="newPassword" id="newPassword" #newPassword />
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1" >
        <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="hasError('newPassword', 'required')">Chưa nhập mật khẩu mới</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Nhập lại mật khẩu mới"
        formControlName="confirmPassword" id="confirmPassword" pattern="{{ this.newPassword.value }}" />
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="hasError('confirmPassword', 'required')">Chưa nhập xác nhận mật khẩu</mat-error>
      <mat-error *ngIf="hasError('confirmPassword', 'pattern')">Xác nhận mật khẩu không chính xác</mat-error>
      <!-- <mat-error *ngIf="confirmPassword.hasError(pattern)">

      </mat-error> -->
    </mat-form-field>
  </form>
  <!-- </div> -->
</mat-dialog-content>
<hr />
<mat-dialog-actions align="center">
  <button mat-stroked-button [disabled]="passwordForm.invalid" (click)="onSubmit()" [mat-dialog-close]="passwordForm.value">Cập nhật</button>
</mat-dialog-actions>
