.cdk-overlay-pane.change-information-dialog {
  position: relative !important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 5px; */
  margin: 5px;
  line-height: 14px;
  min-width: auto;
}

.mat-button,
.mat-stroked-button {
  outline: none !important;
}

.mat-stroked-button {
  margin-top: 10px !important;
  margin-top: 10px !important;
}

hr {
  margin: 0vh 0vh 0vh -6vh;
  width: 72.3vh;
  height: 2px;
  background: #000000;
}
