.image-avatar {
  background-color: white;
  /* bottom: 0; */
  /* position: absolute; */
  width: 20vh;
  height: 20vh;
  /* border-radius: 10px; */
  /* border: solid 3px #fff;
  box-shadow: 0 0 3px 2px #ccc; */
  border-radius: 50%;
  object-fit: cover;
}
