<div>
  <mat-horizontal-stepper>
    <mat-step title="Kiểm tra email" [stepControl]="checkEmail" [editable]="editable">
      <ng-template matStepLabel>Xác nhận Email</ng-template>
      <!-- # Start : Kiểm tra Email-->
      <mat-card *ngIf="isSentOTP === false">
        <mat-card-title>Kiểm tra Email</mat-card-title>
        <mat-card-content>
          <form [formGroup]="checkEmail" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Địa chỉ email</mat-label>
              <input matInput type="email" formControlName="email" uniqueEmail>
              <mat-icon matSuffix>mail_outline</mat-icon>
            </mat-form-field>

            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <div class="alert alert-danger"
                   *ngIf="hasError('email', 'uniqueEmail', checkEmail) === true;">
                Email <strong>{{ email.value }}</strong> không khả dụng!
              </div>

              <ng-template class="alert alert-success" #content *ngIf="hasError('email', 'uniqueEmail', checkEmail) != true;">
                Email <strong>{{ email.value }}</strong> khả dụng!
              </ng-template>
            </div>

          </form>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="sendOTPEmail()">Kiểm tra</button>
        </mat-card-actions>
      </mat-card>
      <!-- # End : Kiểm tra Email-->

      <div *ngIf="isSentOTP === true">
        <div class="example-loading-shade" *ngIf="isLoading === true">
          <p>Vui lòng chờ...</p>
          <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="isLoading === false">
          <div class="alert alert-success">
            Mã OTP đã được gửi tới tài khoản email của bạn!!!
          </div>
        </div>
      </div>

      <div class="mt-5">
        <button [disabled]="sendOTPSuccess === false" mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Xác nhận OTP</ng-template>
      <mat-card *ngIf="verifyOTPSuccess === false">
        <mat-card-title>Xác nhận mã OTP</mat-card-title>
        <mat-card-content>
          <form [formGroup]="checkOTP">
            <mat-form-field>
              <mat-label>Mã OTP</mat-label>
              <input matInput formControlName="otp">
              <mat-icon matSuffix>qr_code</mat-icon>
              <mat-error *ngIf="hasError('otp', 'required', checkOTP)">Chưa nhập Mã OTP</mat-error>
            </mat-form-field>
          </form>
          <div *ngIf="verifyOTPSuccess === false && beVerifyingOTP === true" class="alert alert-danger">
            Mã xác nhận không chính xác
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="btn btn-outline-success" (click)="verifyOTP()">Xác nhận</button>
        </mat-card-actions>
      </mat-card>

      <div *ngIf="verifyOTPSuccess === true" class="alert alert-success">
        <p>Mã xác nhận <strong>Chính xác</strong></p>
        <p>Hãy chọn <strong>Next</strong> để qua bước tiếp theo!</p>
      </div>


      <div class="mt-5">
        <button [disabled]="verifyOTPSuccess === false" mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step title="Thông tin cá nhân" [stepControl]="informationUser">
      <ng-template matStepLabel>Bổ sung Thông tin cá nhân</ng-template>
      <mat-card>
        <mat-card-title>Thông tin cá nhân</mat-card-title>
        <mat-card-content>
          <form [formGroup]="informationUser" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Họ và tên</mat-label>
              <input matInput formControlName="userName" id="userName" placeholder="Họ và tên">
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="hasError('userName', 'required', informationUser)">Chưa nhập Họ và tên</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Giới tính</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="Nam">Nam</mat-option>
                <mat-option value="Nữ">Nữ</mat-option>
                <mat-option value="Khác">Khác</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ngày sinh</mat-label>
              <input matInput type="date" formControlName="birthday" id="birthday" placeholder="Ngày sinh">
              <mat-error *ngIf="hasError('birthday', 'required', informationUser)">Chưa nhập Ngày sinh</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Mật khẩu</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" id="password" placeholder="Mật khẩu" #password>
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="hasError('password', 'required', informationUser)">Chưa nhập Mật khẩu</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Xác nhận mật khẩu</mat-label>
              <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" id="confirmPassword"
                     placeholder="Xác nhận mật khẩu" pattern="{{ password.value }}">
              <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="hasError('confirmPassword', 'required', informationUser)">Chưa nhập Xác nhận mật khẩu
              </mat-error>
              <mat-error *ngIf="hasError('confirmPassword', 'pattern', informationUser)">Xác nhận mật khẩu không chính
                xác
              </mat-error>
            </mat-form-field>
          </form>

          <mat-card-actions>
            <button mat-raised-button [disabled]="!informationUser.valid" class="btn btn-outline-success"
                    (click)="onSubmit()" matStepperNext>Thêm
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

      <!--      <div class="mt-5">
              <button [disabled]="registerSuccess === false" mat-raised-button matStepperNext color="primary">Next</button>
            </div> -->
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Finish</ng-template>
      <div *ngIf="registerSuccess === true" class="alert alert-info">
        <p>Đăng ký <strong>thành công</strong>!</p>
        <button mat-raised-button class="btn btn-outline-success" (click)="signIn()">Đăng nhập</button>
      </div>

      <div *ngIf="registerSuccess === false" class="alert alert-danger">
        <p>Đăng ký <strong>không thành công</strong>!</p>
        <a mat-raised-button class="btn btn-outline-success" routerLink="/register">Đăng ký lại</a>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
