table.table{
  border-top: none !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #000;
  display: block;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.font p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.highlight{
  background: #42A948; /* green */
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
