<mat-horizontal-stepper #stepper>
  <mat-step>

    <ng-template matStepLabel>Xác nhận Email</ng-template>

    <div class="container p-5 h-100">

      <mat-card class="mat-elevation-z4">

        <div [formGroup]="emailForm" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading === false">

          <h1>Xác nhận bằng Email</h1>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-icon color="primary" matSuffix>mail</mat-icon>
            <mat-error *ngIf="hasError('email', 'required', emailForm)">Chưa nhập Email</mat-error>

          </mat-form-field>

          <button mat-raised-button color="primary" (click)="sendOTPWithEmail()" [disabled]="!emailForm.valid">Xác
            nhận
          </button>
        </div>

        <div *ngIf="isLoading === true" fxLayout="column" fxLayoutAlign="center center">
          <h2>Vui lòng chờ...</h2>
          <mat-spinner></mat-spinner>
        </div>

      </mat-card>

    </div>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Xác nhận Mã OTP</ng-template>

    <div class="container p-5 h-100">

      <mat-card class="mat-elevation-z4">

        <div [formGroup]="otpForm" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading === false">

          <h1>Xác nhận Mã OTP</h1>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>OTP</mat-label>
            <input matInput formControlName="otp">
            <mat-icon color="primary" matSuffix>mail</mat-icon>
            <mat-error *ngIf="hasError('otp', 'required', otpForm)">Chưa nhập Mã OTP</mat-error>

          </mat-form-field>

          <button mat-raised-button color="primary" (click)="verifyOTP()">Xác nhận
          </button>
        </div>

        <div *ngIf="isLoading === true" fxLayout="column" fxLayoutAlign="center center">
          <h2>Vui lòng chờ...</h2>
          <mat-spinner></mat-spinner>
        </div>

      </mat-card>

    </div>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Finish</ng-template>
    <div class="alert alert-info">
      <h1>Cập nhật thành công thành công!</h1>
      <a routerLink="/profile" mat-raised-button class="btn btn-outline-success">Thông tin cá nhân</a>
    </div>
  </mat-step>

</mat-horizontal-stepper>
