#wallpaper-title {
  height: auto !important;
  background-image: url("../assets/image/wallpager-signin.jpg");
  background-size: cover;
}

.left-side{
  position: relative;
}

.title {
  position: absolute;
  top: 200px;
}
.brandImage {
  width: 50px;
}

.main_content {
  width:100%;
  height: calc(100vh - 100px);
  background: #efefef;
}

#main{
  height: 93% !important;
  margin: 0;
}

mat-sidenav-container {
  /*height: 100% !important;*/
  height: 90vh !important;
}
app-header{
  height: 8vh !important;
}
/*
mat-sidenav {
  background-color: #ffcce0;
}
*/
.login-register a {
  margin: 0vh 1vh;
}
