<div class="sidenav_container" (mouseenter)="onSidenavToggle()" (mouseleave)="onSidenavToggle()"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="" style="height: 100%;">
    <div fxLayout="column">
      <mat-nav-list>
        <a mat-list-item>
          <!-- <img src="./assets/image/user.png" width="40px" /> -->
          <img id="image-avatar" *ngIf="avatarSrc!==null; else default_image" [src]="avatarSrc" />
          <ng-template #default_image>
            <img id="image-avatar" src="./assets/image/user.png" />
          </ng-template>
          <span class="ml-5" [@animateText]="linkText ? 'show' : 'hide'">{{user.userName}}</span>
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>

    <div fxLayout="column">
      <mat-nav-list class="menu">
        <a mat-list-item href="/chat" routerLink="/chat">
          <mat-icon class="iconColor">chat</mat-icon>
          <span class="ml-5" [@animateText]="linkText ? 'show' : 'hide'">Message</span>
        </a>

        <a mat-list-item href="/profile" routerLink="/profile">
          <mat-icon class="iconColor">account_box</mat-icon>
          <span class="ml-5" [@animateText]="linkText ? 'show' : 'hide'">Profile</span>
        </a>

        <a mat-list-item href="/contact" routerLink="/contact">
          <mat-icon class="iconColor">perm_phone_msg</mat-icon>
          <span class="ml-5" [@animateText]="linkText ? 'show' : 'hide'">Contact</span>
        </a>

        <a *ngIf="admin" mat-list-item href="/admin" routerLink="/admin">
          <mat-icon class="iconColor">admin_panel_settings</mat-icon>
          <span class="ml-5" [@animateText]="linkText ? 'show' : 'hide'">Admin</span>
        </a>

      </mat-nav-list>
    </div>
  </div>
</div>
