<mat-tab-group>
  <!-- Start : Phone-->
  <mat-tab label="Xác nhận Số điện thoại">

    <mat-horizontal-stepper>

      <mat-step>

        <ng-template matStepLabel>Xác nhận Số điện thoại</ng-template>

        <div class="container p-5 h-100" fxFill>

          <mat-card *ngIf="isSentOtp === false" class="mat-elevation-z4">
            <div [formGroup]="phoneForm" fxFill fxLayout="column" fxLayoutAlign="center center">
              <h1>Xác nhận bằng Số điện thoại</h1>
              <mat-form-field appearance="outline" class="w-50">
                <mat-label>Số điện thoai</mat-label>
                <input matInput formControlName="phone">
                <mat-icon color="primary" matSuffix>phone</mat-icon>
              </mat-form-field>

              <div class="mt-5 mb-5" id="recaptcha-container"></div>

              <button mat-raised-button color="primary" (click)="sendOTPWithPhone()">Xác nhận</button>
            </div>
          </mat-card>

          <div *ngIf="isSentOtp === true">

            <div *ngIf="verifyOTPSuccess === false">
              <div class="alert alert-success">
                <p>Mã OTP đã được gửi tới Số điện thoại của bạn!!!</p>
              </div>
              <mat-card class="mat-elevation-z4">
                <div [formGroup]="otpForm" fxFill fxLayout="column" fxLayoutAlign="center center">
                  <h1>Xác nhận Mã OTP</h1>

                  <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Mã OTP</mat-label>
                    <input matInput formControlName="otp" id="otp">
                    <mat-icon matSuffix>qr_code</mat-icon>
                  </mat-form-field>

                  <button mat-raised-button [disabled]="!otpForm.valid" (click)="checkOTP()">Kiểm tra OTP</button>
                </div>

              </mat-card>
            </div>

            <div *ngIf="verifyOTPSuccess === true" class="alert alert-success">
              <p>Mã OTP chính xác</p>
            </div>

          </div>
        </div>

        <div class="mt-5">
          <button [disabled]="!verifyOTPSuccess" mat-raised-button matStepperNext
                  color="primary" class="ml-2">
            Next
            <mat-icon matSuffix>arrow_right_alt</mat-icon>
          </button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Tạo mật khẩu mới</ng-template>
        <div class="container p-5">
          <mat-card class="mat-elevation-z4">

            <div [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="center center">

              <h1>Tạo mật khẩu mới</h1>

              <mat-form-field appearance="outline" class="w-50">
                <mat-label>Mật khẩu mới</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                       [readonly]="changePassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-50">
                <mat-label>Xác nhận mật khẩu</mat-label>
                <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"
                       [readonly]="changePassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="onSubmitChangePasswordByPhone()" [disabled]="changePassword">
                Xác nhận
              </button>

            </div>

          </mat-card>
        </div>

        <div class="mt-5">
          <button mat-raised-button matStepperNext [disabled]="!passwordForm.valid || changePassword === false"
                  color="primary">Next
            <mat-icon matSuffix>arrow_right_alt</mat-icon>
          </button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <div *ngIf="changePassword === true" class="alert alert-info">
          <h1>Đăng ký <strong>thành công</strong>!</h1>
          <button (click)="signInByPhone()" class="btn btn-outline-success" mat-raised-button>Đăng nhập</button>
        </div>

        <div *ngIf="changePassword === false" class="alert alert-danger">
          <h1>Đăng ký <strong>không thành công</strong>!</h1>
          <a class="btn btn-outline-success" mat-raised-button routerLink="/register">Đăng ký lại</a>
        </div>
      </mat-step>

    </mat-horizontal-stepper>


  </mat-tab>
  <!-- End : Phone-->


  <!-- Start : Email -->
  <mat-tab label="Xác nhận bằng Email">

    <mat-horizontal-stepper class="mt-2">
      <mat-step>

        <!-- Nhập Email -->
        <ng-template matStepLabel>Xác nhận Email</ng-template>

        <div class="container p-5 h-100" *ngIf="isSentOTP === false">

          <mat-card class="mat-elevation-z4">

            <div [formGroup]="emailForm" fxLayout="column" fxLayoutAlign="center center">

              <h1>Xác nhận bằng Email</h1>
              <mat-form-field appearance="outline" class="w-50">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" [ngModel]="email">
                <mat-icon color="primary" matSuffix>mail</mat-icon>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="sendOTPWithEmail()" [disabled]="!emailForm.valid">Xác
                nhận
              </button>
            </div>

          </mat-card>

        </div>

        <!-- Sau khi nhấn Xác nhận -->
        <div *ngIf="isSentOTP === true">
          <div class="container p-5 h-100">

            <mat-card class="mat-elevation-z4">

              <!-- Đang tìm kiếm -->
              <div fxLayout="column" fxLayoutAlign="center center">

                <div *ngIf="isLoading === true">
                  <h2>Vui lòng chờ...</h2>
                  <mat-spinner></mat-spinner>
                </div>

                <!-- Mã đã được gửi -->
                <div *ngIf="isLoading === false">
                  <div class="alert alert-success">
                    Mã OTP đã được gửi tới tài khoản email của bạn!!!
                  </div>
                </div>
              </div>
            </mat-card>

          </div>
        </div>

        <!-- Phím Next => OTP -->
        <div class="mt-5">
          <button [disabled]="sendOTPSuccess === false" color="primary" mat-raised-button matStepperNext>Next
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step>

        <!-- Nhập OTP -->
        <ng-template matStepLabel>Xác nhận Mã OTP</ng-template>
        <div *ngIf="verifyOTPSuccess === false" class="container p-5">
          <mat-card class="mat-elevation-z4">
            <div [formGroup]="otpForm" fxLayout="column" fxLayoutAlign="center center">

              <h1>Xác nhận bằng OTP</h1>
              <mat-form-field appearance="outline" class="w-50">
                <mat-label>OTP</mat-label>
                <input matInput formControlName="otp">
                <mat-icon color="primary" matSuffix>qr_code_scanner</mat-icon>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="verifyOTP()">Xác nhận</button>

            </div>
          </mat-card>
        </div>

        <!-- Thông báo khi mã OTP chính xác -->
        <div *ngIf="verifyOTPSuccess === true" class="alert alert-success">
          <p>Mã xác nhận <strong>Chính xác</strong></p>
          <p>Hãy chọn <strong>Next</strong> để qua bước tiếp theo!</p>
        </div>

        <!-- Phím Next => Password -->
        <div class="mt-5">
          <button [disabled]="verifyOTPSuccess === false" color="primary" mat-raised-button matStepperNext>Next
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Tạo mật khẩu mới</ng-template>
        <div class="container p-5">
          <mat-card class="mat-elevation-z4">

            <div [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="center center">

              <h1>Tạo mật khẩu mới</h1>

              <mat-form-field appearance="outline" class="w-50">
                <mat-label>Mật khẩu mới</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                       [readonly]="changePassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-50">
                <mat-label>Xác nhận mật khẩu</mat-label>
                <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'"
                       [readonly]="changePassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="onSubmitChangePassword()" [disabled]="changePassword">
                Xác nhận
              </button>

            </div>

          </mat-card>
        </div>

        <div class="mt-5">
          <button mat-raised-button matStepperNext [disabled]="!passwordForm.valid || changePassword === false"
                  color="primary">Next
            <mat-icon matSuffix>arrow_right_alt</mat-icon>
          </button>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Finish</ng-template>
        <div *ngIf="changePassword === true" class="alert alert-info">
          <h1>Đăng ký <strong>thành công</strong>!</h1>
          <button (click)="signInByEmail()" class="btn btn-outline-success" mat-raised-button>Đăng nhập</button>
        </div>

        <div *ngIf="changePassword === false" class="alert alert-danger">
          <h1>Đăng ký <strong>không thành công</strong>!</h1>
          <a class="btn btn-outline-success" mat-raised-button routerLink="/register">Đăng ký lại</a>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </mat-tab>
  <!-- End : Email-->

</mat-tab-group>
